[submodule "plugins/clipboard_image_paste"]
	path = plugins/clipboard_image_paste
	url = https://github.com/peclik/clipboard_image_paste
[submodule "plugins/redmine_cut_tag"]
	path = plugins/redmine_cut_tag
	url = https://github.com/Undev/redmine_cut_tag
[submodule "plugins/redmine_my_page_queries"]
	path = plugins/redmine_my_page_queries
	url = https://github.com/Undev/redmine_my_page_queries
[submodule "plugins/redmine_omniauth_google"]
	path = plugins/redmine_omniauth_google
	url = https://github.com/twinslash/redmine_omniauth_google
[submodule "plugins/parent_issue_filter"]
	path = plugins/parent_issue_filter
	url = https://github.com/onozaty/redmine-parent-issue-filter
[submodule "plugins/redmine_silencer"]
	path = plugins/redmine_silencer
	url = git@github.com:alytics/redmine_silencer.git
